.total-card {
  width: 32rem;
  height: 17.2rem;

  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem 0 4rem 0;

  font-family: $body-font;
  font-size: 2.4rem;
  font-weight: 400;

  background-color: $light;
  color: $green;

  letter-spacing: 0.1rem;

  &__items {
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__amount {
    @extend .total-card__items;
  }

  &__actions {
    @extend .total-card__items;

    &--checkout {
      border: 0.1rem solid $green;
      border-radius: 0.5rem;
      padding: 1rem;

      font-size: 1.4rem;

      background-color: $light;
      color: $green;

      cursor: not-allowed;
    }

    &--clear {
      border: none;

      font-size: 1.4rem;

      background: none;
      color: $green;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $green;
      }
    }
  }
}
