.cart {
  position: fixed;
  top: 5rem;
  left: 0;

  padding-top: 1rem;
  height: calc(100vh - 5rem);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $green;

  overflow-y: scroll;

  transition: left 300ms ease-in-out;

  &__products {
    display: grid;
    grid-template-columns: 1fr;
  }

  &--invis {
    left: 100vw;
  }
}

@media (min-width: 768px) {
  .cart {
    top: 6rem;

    &__products {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 5rem;
    }
  }
}

@media (min-width: 1280px) {
  .cart {
    &__products {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 9rem;
    }
  }
}
