.empty-cart {
  position: fixed;
  top: 5rem;
  left: 0;

  padding-top: 1rem;
  height: calc(100vh - 5rem);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $green;

  transition: left 300ms ease-in-out;

  &__title {
    margin: 5rem auto 2rem auto;
    padding: 0 2rem;

    font-family: $heading-font;
    font-size: clamp(3rem, 4vw, 4.8rem);
    color: $light;

    letter-spacing: 0.8rem;
    text-align: center;
  }

  &__subtitle {
    margin: 0 auto;

    font-family: $body-font;
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    color: $light;

    letter-spacing: 0.2rem;
    text-align: center;
  }

  &__img {
    width: clamp(36rem, 45vw, 50rem);
    height: auto;
  }
}

@media all and (min-width: 768px) {
  .empty-cart {
    &__title {
      margin: 8rem auto 4rem auto;
    }
  }
}
